<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="footer py-3 mt-auto bg-danger">
    <div class="container">
        <span class="text-muted">&copyYelpCamp 2022</span>
    </div>
</footer>