<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Attraction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/attractions">All Attractions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/attractions/new">New Attraction</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/attractions" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Region" aria-label="Search"
                name="region">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Country" aria-label="Search"
                name="country">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>