<% layout('layouts/boilerplate.ejs')%>
<link rel="stylesheet" href="/stylesheets/error.css">
    <div id="error">
        <h1>Error Message:</h1>
        <p>
            <%= err %>
        </p>
    </div>