body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://external-preview.redd.it/rCvFZmNgdBg5105WHGcs2Q1jGkoYkdoZBaxSKz1Fshc.jpg?auto=webp&s=198537c17541d18a6bdd74dab7cddf93d1230258');
    background-size: cover;
    background-position: center;
}

.cover-container {
    max-width: 60vw;   
}

.nav-link {
    color: white;
    font-weight: bold;
}

.px-3 {
    padding-bottom: 100px;
}

