#pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#btn {
    border-color: red;
    background-color: black;
    color: red;
    border-radius: 100%;
    margin-right: 5px;
}

#btn:hover{
    background-color: red;
    color:white;
}